@charset "UTF-8";

/* setting */
@import url(/src/css/bace/font.css);
@import url(/src/css/bace/reset.css);

/* layout */
@import url(/src/css/pages/header.css);
@import url(/src/css/pages/intro.css);
@import url(/src/css/pages/works.css);
@import url(/src/css/pages/project.css);
@import url(/src/css/pages/graphic.css);
@import url(/src/css/pages/about.css);
@import url(/src/css/pages/footer.css);

#custom-cursor{
    width: 150px;
    border-radius: 20px;
    pointer-events: none;
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    left: 0;
    top:0;
    z-index: 99999;
    transition: height .2s;
}
#custom-cursor em{
    font-size: 24px;
    width:100%;
    height:100%;
    color: #FFD628;
    font-style: normal;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-family: "Abhaya Libre", serif;
}
#custom-cursor span{
    font-size: 12px;
    color:#ccc;
    margin:0 7px;
}
body{
    font-family: "NotoSans-Regular";
}

section{
    background: #000;
    contain: paint;
    border: 1px solid #f00;
    min-height: 100vh;
}