#contacts {
  height: 50vh;
  contain: paint;
  background: #000;
}
#contacts .splide__track {
  background-image: linear-gradient(to right, #152042, #22315b, #2f4476, #3b5791, #476cae, #476cae, #476cae, #476cae, #3b5791, #2f4476, #22315b, #152042);
}
#contacts .splide__track .splide__list {
  display: flex;
}
#contacts .splide__track .splide__slide {
  padding: 10px;
  color: #fff;
  font-size: 2vw;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  letter-spacing: 3px;
  color: #fff;
}
#contacts .splide__track .splide__slide.en {
  font-family: "Abhaya Libre", serif;
}
#contacts .splide__track .splide__slide.ko {
  font-size: 23px;
}
#contacts .splide__track .splide__slide.is-active {
  color: #B4EDFF;
}
#contacts .footer-desc {
  display: flex;
  height: calc(100% - 75px);
}
#contacts .footer-desc > div {
  width: 50%;
}
#contacts .footer-desc .desc-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contacts .footer-desc .desc-left h2 {
  font-family: "Abhaya Libre", serif;
  color: #E7C700;
  font-size: 70px;
  padding-bottom: 30px;
  font-weight: 900;
}
#contacts .footer-desc .desc-left p {
  color: #fff;
  font-size: 23px;
}
#contacts .footer-desc .desc-right {
  display: flex;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  align-items: center;
  font-size: 18px;
}
#contacts .footer-desc .desc-right > p {
  width: 50%;
}
#contacts .footer-desc .desc-right img {
  width: 70px;
}