#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
  font-family: "Abhaya Libre", serif;
  font-weight: 900;
}
#header .header__pc {
  display: flex;
  justify-content: right;
  padding: 10px;
}
#header .header__pc li.on {
  color: #FFD628;
}
#header .header__pc li a {
  font-size: 23px;
  padding: 14px;
  position: relative;
}
#header .header__pc li a::before {
  content: "";
  width: calc(100% - 20px);
  height: 1px;
  background: #fff;
  position: absolute;
  left: 11px;
  transition: 0.35s;
  transform: scale(0);
  bottom: 13px;
}
#header .header__pc li a:hover::before {
  transform: scaleX(1);
}
#header .header__nav_mobile {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 2%;
}
#header .header__nav_mobile span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #fff;
  position: relative;
  margin-top: 20px;
}
#header .header__nav_mobile span::before {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  top: 10px;
  right: 0;
}
#header .header__nav_mobile span::after {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  left: 0;
}

@media (max-width: 767px) {
  #header .header__pc {
    display: none;
  }
  #header .header__pc .header__nav_mobile {
    display: block;
  }
  #header .header__pc .header__nav_mobile .header__mobile {
    position: absolute;
    right: 0;
    top: 72px;
    z-index: 99;
    min-width: 150px;
    padding: 20px 0;
  }
  #header .header__pc .header__nav_mobile .header__mobile li {
    display: block;
    text-align: right;
  }
  #header .header__pc .header__nav_mobile .header__mobile li a {
    display: block;
    padding: 10px;
  }
  #header .header__pc .header__nav_mobile + #header .header__nav_mobile span::before {
    width: 20px;
  }
  #header .header__pc .header__nav_mobile + #header .header__nav_mobile span::after {
    width: 20px;
  }
  #header .header__nav_mobile {
    display: block;
  }
}