:root {
  --card-rotate: 150deg;
  --plus-rotate: 60deg;
}

#project {
  height: 90vh;
}
#project .card__box:nth-child(2) {
  transform: rotate(var(--card-rotate));
}
#project .card__box:nth-child(3) {
  transform: rotate(calc(var(--card-rotate) + var(--plus-rotate) * 1));
}
#project .card__box:nth-child(4) {
  transform: rotate(calc(var(--card-rotate) + var(--plus-rotate) * 2));
}
#project .card__box:nth-child(5) {
  transform: rotate(calc(var(--card-rotate) + var(--plus-rotate) * 3));
}

@media (max-width: 767px) {
  .project-inner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
  }
  .project-inner h2 {
    color: #70BDF5;
    font-family: "Abhaya Libre", serif;
    font-size: 50px;
    padding-left: 20px;
  }
  .project-inner a {
    width: 80px;
    background: #fff;
    color: #000;
    display: flex;
    gap: 20px;
    border-radius: 50px;
    padding: 5px 20px;
    transition: 0.35s;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .project-inner a img {
    width: 30px;
    height: 30px;
  }
  .project-inner a:hover {
    width: 120px;
    background: #70BDF5;
  }
  .wrap {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
  .wrap::before {
    content: "";
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-top: 2px dashed #70BDF5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: -300px;
  }
  .wrap .rot__box {
    width: 200vw;
    height: 200vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100vw;
    transform-origin: center bottom;
    transition: 0.35s ease-out;
  }
  .wrap .rot__box .card__box {
    width: 800px;
    height: 680px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    transform-origin: center bottom;
    opacity: 0;
    transition: 0.35s;
  }
  .wrap .rot__box .card__box.txt__box {
    opacity: 1;
  }
  .wrap .rot__box .card__box .card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
  }
  .wrap .rot__box .card__box .card .card-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .wrap .rot__box .card__box .card .card-desc .summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    opacity: 0;
  }
  .wrap .rot__box .card__box .txt__type {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 200px;
  }
  .wrap .rot__box .card__box .txt__type span {
    color: #FFD628;
  }
  .wrap .btn {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 10px;
    color: #70BDF5;
  }
  .wrap .btn img {
    width: 34px;
  }
  .wrap .btn > div {
    display: flex;
    align-items: center;
  }
  .container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
  .container .text-circle {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -50px;
    transform-origin: center;
    transform: rotate(-60deg);
    transition: transform 0.5s ease;
  }
  .container:hover .text-circle {
    transform: rotate(-30deg);
  }
  .container text {
    font-size: 14px;
    font-weight: 700;
    fill: #70BDF5;
    text-anchor: middle;
  }
}
@media (min-width: 768px) {
  .project-inner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
  }
  .project-inner h2 {
    color: #70BDF5;
    font-family: "Abhaya Libre", serif;
    font-size: 70px;
    padding-left: 100px;
  }
  .project-inner a {
    width: 80px;
    background: #fff;
    color: #000;
    display: flex;
    gap: 40px;
    border-radius: 50px;
    padding: 5px 20px;
    transition: 0.35s;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .project-inner a img {
    width: 30px;
    height: 30px;
  }
  .project-inner a:hover {
    width: 150px;
    background: #70BDF5;
  }
  .wrap {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
  .wrap::before {
    content: "";
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border-top: 2px dashed #70BDF5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: -300px;
  }
  .wrap .rot__box {
    width: 200vw;
    height: 200vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100vw;
    transform-origin: center bottom;
    transition: 0.35s ease-out;
  }
  .wrap .rot__box .card__box {
    width: 750px;
    height: 680px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    transform-origin: center bottom;
    opacity: 0;
    transition: 0.35s;
  }
  .wrap .rot__box .card__box.txt__box {
    opacity: 1;
  }
  .wrap .rot__box .card__box .card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
  }
  .wrap .rot__box .card__box .card .card-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .wrap .rot__box .card__box .card .card-desc .summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .wrap .rot__box .card__box .txt__type {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 9vw;
  }
  .wrap .rot__box .card__box .txt__type span {
    color: #FFD628;
  }
  .wrap .btn {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 10px;
    color: #70BDF5;
  }
  .wrap .btn img {
    width: 50px;
  }
  .wrap .btn > div {
    display: flex;
    align-items: center;
  }
  .container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
  .container .text-circle {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -50px;
    transform-origin: center;
    transform: rotate(-60deg);
    transition: transform 0.5s ease;
  }
  .container:hover .text-circle {
    transform: rotate(-30deg);
  }
  .container text {
    font-size: 14px;
    font-weight: 700;
    fill: #70BDF5;
    text-anchor: middle;
  }
}
@media (min-width: 1200px) {
  .project-inner {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
  }
  .project-inner h2 {
    color: #70BDF5;
    font-family: "Abhaya Libre", serif;
    font-size: 70px;
    padding-left: 100px;
  }
  .wrap {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
  .wrap::before {
    content: "";
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border-top: 2px dashed #70BDF5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: -300px;
  }
  .wrap .rot__box {
    width: 200vw;
    height: 200vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100vw;
    transform-origin: center bottom;
    transition: 0.35s ease-out;
  }
  .wrap .rot__box .card__box {
    width: 800px;
    height: 700px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    transform-origin: center bottom;
    opacity: 0;
    transition: 0.35s;
  }
  .wrap .rot__box .card__box.txt__box {
    opacity: 1;
  }
  .wrap .rot__box .card__box .card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
  }
  .wrap .rot__box .card__box .card .card-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .wrap .rot__box .card__box .card .card-desc .summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .wrap .rot__box .card__box .card .card-desc .summary a {
    margin-top: 20px;
    margin: auto;
    font-size: 16px;
    width: 60px;
    background: #fff;
    color: #000;
    display: flex;
    gap: 40px;
    border-radius: 50px;
    padding: 2px 10px;
    transition: 0.35s;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: 9;
  }
  .wrap .rot__box .card__box .card .card-desc .summary a img {
    width: 30px;
    height: 30px;
  }
  .wrap .rot__box .card__box .card .card-desc .summary a:hover {
    width: 150px;
    background: #70BDF5;
  }
  .wrap .rot__box .card__box .txt__type {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 9vw;
  }
  .wrap .rot__box .card__box .txt__type span {
    color: #FFD628;
  }
  .wrap .btn {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 10px;
    color: #70BDF5;
  }
  .wrap .btn img {
    width: 50px;
  }
  .wrap .btn > div {
    display: flex;
    align-items: center;
  }
  .container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid #f00;
  }
  .container .text-circle {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -50px;
    transform-origin: center;
    transform: rotate(-60deg);
    transition: transform 0.5s ease;
  }
  .container:hover .text-circle {
    transform: rotate(-30deg);
  }
  .container text {
    font-size: 14px;
    font-weight: 700;
    fill: #70BDF5;
    text-anchor: middle;
  }
}