@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

#about {
    background-image: url(/src/assets/about/about.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: auto;
    font-family: 'Pretendard';
    height: auto;
    // border: 1px solid #fff;
    h2 {

        margin: 10px 0;
        font-size: 22px;
    }

    .about_wrap {
        position: relative;
        display: flex;
        margin: auto;
        width: 100%;
        height: auto;

        .txt {
            color: #000;
            position: sticky;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            height: 100%;
            left: 10%;
            color: #fff;

            .en {
                font-family: "Abhaya Libre", serif;
                font-size: 50px;
                font-weight: 700
            }

            h2 {
                font-size: 70px;
                font-weight: 500;
            }

            p {
                color: #70BDF5;
            }

            ul {
                padding-top: 50px;
                margin-top: 30px;

                li {
                    font-family: "Abhaya Libre", serif;
                    font-size: 28px;
                    position: relative;
                    font-weight: 700;
                    transition: all .3s;
                    padding: 20px;

                    &.on {
                        padding-left: 50px;
                        color: .111;
                        transition: all .3s;
                        color: #FFD628;
                    }
                }

                .title1.on:after {
                    content: "01.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }

                .title2.on:after {
                    content: "02.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }

                .title3.on:after {
                    content: "03.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }

            }
        }

        ul.cont {
            width: 50%;
            position: relative;

            li {
                border: 1px solid #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100vh;
            }
        }
    }
}