#intro{
    background-image: url(/src/assets/intro/main-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

@media (max-width:767px) {
    #intro{
        h1 {
            font-size: 40px;
            transition: font-size 0.35s ease;
            height: 100vh;
            align-items: center;
            width: 100%;
            font-weight: 500;
            font-family: "Abhaya Libre", serif;
            display: flex;
            justify-content: center;
            gap: 20px;
            em {
                position: absolute;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bolder;
                font-style: normal;
                font-size: 40px;
                background: linear-gradient(300deg, #A2AEFD, #B4EDFF, #A2AEFD);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                font-family: "Abhaya Libre", serif;
            }
        }
    }

}

@media (min-width:768px) {
    #intro{
        h1 {
            font-size: 50px;
            transition: font-size 0.35s ease;
            height: 100vh;
            align-items: center;
            width: 100%;
            font-weight: 500;
            font-family: "Abhaya Libre", serif;
            display: flex;
            justify-content: center;
            gap: 20px;
            em {
                position: absolute;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bolder;
                font-style: normal;
                font-size: 100px;
                background: linear-gradient(300deg, #A2AEFD, #B4EDFF, #A2AEFD);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                font-family: "Abhaya Libre", serif;
            }
        }
    }
}

@media (min-width:1200px) {
    #intro{
        h1 {
            font-size: 50px;
            transition: font-size 0.35s ease;
            height: 100vh;
            align-items: center;
            width: 100%;
            font-weight: 500;
            font-family: "Abhaya Libre", serif;
            display: flex;
            justify-content: center;
            gap: 20px;
            em {
                position: absolute;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bolder;
                font-style: normal;
                font-size: 150px;
                background: linear-gradient(300deg, #A2AEFD, #B4EDFF, #A2AEFD);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                font-family: "Abhaya Libre", serif;
            }
        }
    }
}