:root {
    --card-rotate: 150deg;
    --plus-rotate: 60deg; // 카드간의 거리
}

#project {
    height: 90vh;

    .project-inner {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 100px;

        h2 {
            color: #70BDF5;
            font-family: "Abhaya Libre", serif;
            font-size: 70px;
            padding-left: 100px;
        }

        a {
            width: 80px;
            background: #fff;
            color: #000;
            display: flex;
            gap: 40px;
            border-radius: 50px;
            padding: 5px 20px;
            transition: 0.35s;
            overflow: hidden;
            user-select: none;

            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                width: 150px;
                background: #70BDF5;
            }
        }

    }


    .wrap {
        width: 100vw;
        height: 70vh;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            display: block;
            width: 600px;
            height: 600px;
            border-radius: 50%;
            border-top: 2px dashed #70BDF5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-bottom: -300px;
        }

        .rot__box {
            width: 200vw;
            height: 200vw;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -100vw;
            transform-origin: center bottom;
            transition: 0.35s ease-out;


            .card__box {
                // border: 1px solid #000;
                width: 800px;
                height: 700px;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                transform-origin: center bottom;
                opacity: 0;
                transition: 0.35s;

                &.txt__box {
                    opacity: 1;
                }

                .card {
                    width: 260px;
                    height: 360px;
                    margin: 0 auto;
                    border-radius: 50px;
                    background: #fff;

                    .card-desc {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        /* align-items: center; */
                        justify-content: center;

                        span {
                            color: #049DBF;
                            font-weight: 700;
                        }

                        h2 {
                            color: #01032D;
                        }
                    }

                }

                .txt__type {
                    color: #fff;
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    padding-top: 9vw;


                    span {
                        color: #FFD628;
                    }
                }
            }

        }

        .btn {
            position: absolute;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            color: #70BDF5;

            img {
                width: 50px;
            }

            &>div {
                display: flex;
                align-items: center;
            }
        }
    }

    .card__box:nth-child(2) {
        transform: rotate(var(--card-rotate));
    }

    .card__box:nth-child(3) {
        transform: rotate(calc(var(--card-rotate) + var(--plus-rotate)*1));
    }

    .card__box:nth-child(4) {
        transform: rotate(calc(var(--card-rotate) + (var(--plus-rotate)*2)));
    }

    .card__box:nth-child(5) {
        transform: rotate(calc(var(--card-rotate) + (var(--plus-rotate)*3)));
    }
}