:root {
    --card-rotate: 150deg;
    --plus-rotate: 60deg;
}

#project {
    height: 100vh;

    .card__box:nth-child(2) {
        transform: rotate(var(--card-rotate));
    }

    .card__box:nth-child(3) {
        transform: rotate(calc(var(--card-rotate) + var(--plus-rotate)*1));
    }

    .card__box:nth-child(4) {
        transform: rotate(calc(var(--card-rotate) + (var(--plus-rotate)*2)));
    }

    .card__box:nth-child(5) {
        transform: rotate(calc(var(--card-rotate) + (var(--plus-rotate)*3)));
    }
}


.card__box {
    pointer-events: none;

    .container {
        pointer-events: all;

        .text-circle {
            pointer-events: none;
        }
    }
}

@media (max-width:767px) {
    .project-inner {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 100px;

        h2 {
            color: #70BDF5;
            font-family: "Abhaya Libre", serif;
            font-size: 50px;
            padding-left: 20px;
        }


    }

    .wrap {
        width: 100vw;
        height: 70vh;
        position: relative;
        // overflow: hidden;


        &::before {
            content: "";
            display: block;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            border-top: 2px dashed #70BDF5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-bottom: -300px;
        }

        .rot__box {
            width: 200vw;
            height: 200vw;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -100vw;
            transform-origin: center bottom;
            transition: 0.35s ease-out;


            .card__box {
                // border: 1px solid #000;
                width: 800px;
                height: 680px;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                transform-origin: center bottom;
                opacity: 0;
                transition: 0.35s;

                &.txt__box {
                    opacity: 1;
                }

                .card {
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: #fff;

                    .card-desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;

                        .summary {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            color: #fff;
                            font-size: 20px;
                            // opacity: 0;
                            // a {
                            //     width: 80px;
                            //     background: #fff;
                            //     color: #000;
                            //     display: flex;
                            //     gap: 20px;
                            //     border-radius: 50px;
                            //     padding: 5px 20px;
                            //     transition: 0.35s;
                            //     overflow: hidden;
                            //     user-select: none;

                            //     img {
                            //         width: 30px;
                            //         height: 30px;
                            //     }

                            //     &:hover {
                            //         width: 120px;
                            //         background: #70BDF5;
                            //     }
                            // }
                        }


                    }

                }

                .txt__type {
                    color: #fff;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    padding-top: 200px;


                    span {
                        color: #FFD628;
                    }
                }
            }

        }

        .btn {
            position: absolute;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            // margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            color: #70BDF5;

            img {
                width: 34px;
            }

            &>div {
                display: flex;
                align-items: center;
            }
        }
    }

    .container {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 50px auto;
        // border: 1px solid #f00;


        .text-circle {
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -50px;
            transform-origin: center;
            transform: rotate(-60deg);
            transition: transform .5s ease;
            // visibility: hidden;
        }

        &:hover .text-circle {
            transform: rotate(-30deg);
            // visibility: visible;
        }

        text {
            font-size: 14px;
            font-weight: 700;
            fill: #70BDF5;
            text-anchor: middle;
            // font-family: "Abhaya Libre", serif;
        }
    }
}

@media (min-width:768px) {
    .project-inner {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 100px;

        h2 {
            color: #70BDF5;
            font-family: "Abhaya Libre", serif;
            font-size: 70px;
            padding-left: 100px;
        }

        a {
            width: 80px;
            background: #fff;
            color: #000;
            display: flex;
            gap: 40px;
            border-radius: 50px;
            padding: 5px 20px;
            transition: 0.35s;
            overflow: hidden;
            user-select: none;

            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                width: 150px;
                background: #70BDF5;
            }
        }

    }

    .wrap {
        width: 100vw;
        height: 70vh;
        position: relative;
        // overflow: hidden;

        &::before {
            content: "";
            display: block;
            width: 600px;
            height: 600px;
            border-radius: 50%;
            border-top: 2px dashed #70BDF5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-bottom: -300px;
        }

        .rot__box {
            width: 200vw;
            height: 200vw;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -100vw;
            transform-origin: center bottom;
            transition: 0.35s ease-out;


            .card__box {
                // border: 1px solid #000;
                width: 750px;
                height: 680px;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                transform-origin: center bottom;
                opacity: 0;
                transition: 0.35s;

                &.txt__box {
                    opacity: 1;
                }

                .card {
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: #fff;

                    .card-desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;

                        .summary {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            color: #fff;
                            font-size: 20px;
                            // opacity: 0;
                        }


                    }

                }

                .txt__type {
                    color: #fff;
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    padding-top: 9vw;


                    span {
                        color: #FFD628;
                    }
                }
            }

        }

        .btn {
            position: absolute;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            color: #70BDF5;

            img {
                width: 50px;
            }

            &>div {
                display: flex;
                align-items: center;
            }
        }
    }

    .container {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 50px auto;
        // border: 1px solid #f00;


        .text-circle {
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -50px;
            transform-origin: center;
            transform: rotate(-60deg);
            transition: transform .5s ease;
            // visibility: hidden;
        }

        &:hover .text-circle {
            transform: rotate(-30deg);
            // visibility: visible;
        }

        text {
            font-size: 14px;
            font-weight: 700;
            fill: #70BDF5;
            text-anchor: middle;
            // font-family: "Abhaya Libre", serif;
        }
    }
}

@media (min-width:1200px) {
    .project-inner {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 100px;

        h2 {
            // color: #70BDF5;
            color: #fff;
            font-family: "Abhaya Libre", serif;
            font-size: 70px;
            padding-left: 100px;
        }
    }

    .wrap {
        width: 100vw;
        height: 70vh;
        position: relative;
        // overflow: hidden;

        &::before {
            content: "";
            display: block;
            width: 600px;
            height: 600px;
            border-radius: 50%;
            border-top: 2px dashed #70BDF5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-bottom: -300px;
        }

        .rot__box {
            width: 200vw;
            height: 200vw;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -100vw;
            transform-origin: center bottom;
            transition: 0.35s ease-out;


            .card__box {
                // border: 1px solid #000;
                width: 800px;
                height: 700px;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                transform-origin: center bottom;
                opacity: 0;
                transition: 0.35s;

                &.txt__box {
                    opacity: 1;
                }

                .card {
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                    border-radius: 50%;
                    background: #fff;

                    .card-desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;

                        .summary {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            color: #fff;
                            font-size: 20px;

                            // opacity: 0;
                            a {
                                margin-top: 20px;
                                margin: auto;
                                font-size: 16px;
                                width: 60px;
                                background: #fff;
                                color: #000;
                                display: flex;
                                gap: 40px;
                                border-radius: 50px;
                                padding: 2px 10px;
                                transition: 0.35s;
                                overflow: hidden;
                                user-select: none;
                                z-index: 9;

                                img {
                                    width: 30px;
                                    height: 30px;
                                }

                                &:hover {
                                    width: 150px;
                                    background: #70BDF5;
                                }
                            }

                        }


                    }

                }

                .txt__type {
                    color: #fff;
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    padding-top: 9vw;


                    span {
                        color: #FFD628;
                    }
                }
            }

        }

        .btn {
            position: absolute;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            cursor: pointer;
            user-select: none;
            padding: 10px;
            color: #70BDF5;

            img {
                width: 50px;
            }

            &>div {
                display: flex;
                align-items: center;
            }
        }
    }

    .container {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 50px auto;


        .text-circle {
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -50px;
            transform-origin: center;
            transform: rotate(-60deg);
            transition: transform .5s ease;
            // visibility: hidden;
        }

        &:hover .text-circle {
            transform: rotate(-30deg);
            // visibility: visible;
        }

        text {
            font-size: 14px;
            font-weight: 700;
            fill: #70BDF5;
            text-anchor: middle;
            // font-family: "Abhaya Libre", serif;
        }
    }
}