#works {
  height: 100vh;
  position: relative;
  padding: 75px;
}
#works .works-inner {
  padding-bottom: 50px;
}
#works .works-inner h2 {
  font-size: 70px;
  font-family: "Abhaya Libre", serif;
  color: #70BDF5;
}
#works .works-inner p {
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
}

@media (max-width: 767px) {
  #works .works-inner h2 {
    font-size: 60px;
    font-family: "Abhaya Libre", serif;
    color: #70BDF5;
  }
  #works .works-inner p {
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
  }
  #works article .swiper-container {
    border: 1px solid transparent;
    position: relative;
    width: 100%;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #works article .swiper-container .swiper {
    padding-top: 100px;
    width: 100%;
  }
  #works article .swiper-container .swiper .swiper-slide {
    position: relative;
    height: 430px;
    background: #fff;
    border-radius: 50px;
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure > img {
    filter: brightness(0.4);
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure figcaption {
    opacity: 1;
  }
  #works article .swiper-container .swiper .swiper-slide figure {
    overflow: hidden;
    padding-bottom: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  #works article .swiper-container .swiper .swiper-slide figure img {
    width: 100%;
    display: block;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption {
    opacity: 0;
    text-align: center;
    position: absolute;
    bottom: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption a {
    padding: 15px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption img {
    width: 50px;
  }
  #works article .swiper-container .swiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    z-index: 10;
  }
  #works article .swiper-container .swiper .swiper-slide .desc {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 20px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner li img {
    width: 37px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc p {
    font-size: 16px;
    color: #00799E;
    padding-top: 10px;
  }
  #works article .swiper-container .swiper .swiper-slide-active {
    transition: 0.35s;
    z-index: 10;
  }
  #works article .next {
    display: none;
  }
  #works article .swiper-pagination {
    position: absolute;
    top: 370px;
    left: 67px;
    font-weight: 700;
    width: 30%;
    height: 5%;
    color: #fff;
    font-size: 28px;
  }
  #works article .swiper-pagination .swiper-pagination-current {
    color: #FFD628;
    font-size: 36px;
  }
  #works article .strok {
    display: none;
  }
}
@media (min-width: 768px) {
  #works article .swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #works article .swiper-container .swiper {
    width: 100%;
    height: 80%;
    padding: 5px 0;
  }
  #works article .swiper-container .swiper .swiper-slide {
    position: relative;
    height: 440px;
    width: 360px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure > img {
    filter: brightness(0.4);
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure figcaption {
    opacity: 1;
  }
  #works article .swiper-container .swiper .swiper-slide figure {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  #works article .swiper-container .swiper .swiper-slide figure img {
    width: 100%;
    display: block;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption {
    opacity: 0;
    text-align: center;
    position: absolute;
    bottom: 40%;
    color: #FFf;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption a {
    padding: 15px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption img {
    width: 50px;
  }
  #works article .swiper-container .swiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    z-index: 10;
  }
  #works article .swiper-container .swiper .swiper-slide .desc {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    padding: 20px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner li img {
    width: 37px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc p {
    font-size: 16px;
    color: #00799E;
    padding-top: 10px;
  }
  #works article .swiper-container .swiper .swiper-slide-active {
    transition: 0.35s;
    z-index: 10;
  }
  #works article .next {
    position: absolute;
    left: 15px;
    bottom: 402px;
    cursor: pointer;
    z-index: 99;
  }
  #works article .next .space {
    width: 70px;
  }
  #works article .swiper-pagination {
    position: absolute;
    top: 250px;
    left: 160px;
    font-weight: 700;
    width: 10%;
    height: 5%;
    color: #fff;
    font-size: 28px;
  }
  #works article .swiper-pagination .swiper-pagination-current {
    color: #FFD628;
    font-size: 36px;
  }
  #works article .strok {
    position: absolute;
    left: 52px;
    bottom: 440px;
    width: 100%;
    height: 0;
  }
}
@media (min-width: 1200px) {
  #works .works-inner h2 {
    font-size: 70px;
    font-family: "Abhaya Libre", serif;
    color: #70BDF5;
  }
  #works .works-inner p {
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
  }
  #works article {
    position: relative;
  }
  #works article .swiper-container {
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #works article .swiper-container .swiper {
    width: 100%;
    height: 100%;
  }
  #works article .swiper-container .swiper .swiper-slide {
    position: relative;
    height: 500px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #000;
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure > img {
    filter: brightness(0.4);
  }
  #works article .swiper-container .swiper .swiper-slide.swiper-slide-active:hover figure figcaption {
    opacity: 1;
  }
  #works article .swiper-container .swiper .swiper-slide figure {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  #works article .swiper-container .swiper .swiper-slide figure img {
    width: 100%;
    display: block;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption {
    opacity: 0;
    text-align: center;
    position: absolute;
    bottom: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption a {
    padding: 15px;
  }
  #works article .swiper-container .swiper .swiper-slide figure figcaption img {
    width: 50px;
  }
  #works article .swiper-container .swiper .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.8);
    z-index: 10;
    transform-origin: right;
  }
  #works article .swiper-container .swiper .swiper-slide .desc {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    padding: 20px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
  }
  #works article .swiper-container .swiper .swiper-slide .desc .desc-inner li img {
    width: 37px;
  }
  #works article .swiper-container .swiper .swiper-slide .desc p {
    font-size: 16px;
    color: #00799E;
    padding-top: 10px;
  }
  #works article .swiper-container .swiper .swiper-slide-active {
    transition: 0.35s;
    z-index: 10;
  }
  #works article .next {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
    z-index: 99;
  }
  #works article .next .space {
    width: 70px;
  }
  #works article .swiper-pagination {
    position: absolute;
    top: -55px;
    left: 200px;
    font-weight: 700;
    width: 10%;
    height: 5%;
    color: #fff;
    font-size: 28px;
  }
  #works article .swiper-pagination .swiper-pagination-current {
    color: #FFD628;
    font-size: 36px;
  }
  #works article .strok {
    position: absolute;
    left: 3%;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    height: 0;
  }
}/*# sourceMappingURL=works.css.map */